@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&family=Raleway:wght@200&display=swap");
* {
  margin: 0px auto;
  color: #fff;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  width: 100%;
  background-color: #2c2e3f;
  height: 975px;
}

header #heading {
  font-family: 'Josefin Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
  font-size: 35px;
  letter-spacing: 3.5px;
  font-weight: 550;
}

header #heading h1 {
  line-height: 80px;
}

header #heading h1 .hname {
  color: #1969ff;
}

header #heading .button {
  letter-spacing: 2px;
  margin-top: 50px;
  border: 2px solid #fff;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 40px;
  padding: 10px 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header #heading .button:hover {
  background-color: #0ebec2;
  border-color: #0ebec2;
}

header #heading .line {
  width: 40%;
  border-bottom: 1px solid #fff;
  margin-bottom: 10%;
}

header nav {
  width: 100%;
  background-color: #222431;
  position: fixed;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  z-index: 999;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 15%;
  font-size: 18px;
  letter-spacing: 1px;
}

header nav ul li a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header nav ul li a:hover {
  color: #1969ff;
}

#about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about h1 {
  color: #444649;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  padding: 70px 0px;
}

#about #me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about #me #mypic img {
  width: 400px;
  height: 400px;
  border-radius: 225px;
  margin-bottom: 40px;
}

#about #me p {
  color: #444649;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-bottom: 70px;
}

#about #me p span a {
  color: #1969ff;
}

#about #skills {
  margin-bottom: 180px;
}

#about #skills .bars {
  margin-bottom: 15px;
}

#about #skills .info {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about #skills span {
  font-weight: 800;
  font-size: 20px;
  color: #444649;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
}

#about #skills .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

#about #skills .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #0ebec2;
}

#about .html::before {
  width: 90%;
}

#about .css::before {
  width: 90%;
}

#about .C::before {
  width: 60%;
}

#about .sql::before {
  width: 50%;
}

#about .photoshop::before {
  width: 70%;
}

#projects {
  background: #f5f5f5;
}

#projects .center-block {
  width: 70%;
}

#projects .center-block h1 {
  color: #444649;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  padding: 70px 0px;
}

#projects .center-block p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #444649;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 50px;
}

#projects .center-block #gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 120px;
}

#projects .center-block #gallery .block {
  width: 500px;
  height: 300px;
  margin-bottom: 100px;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#projects .center-block #gallery .block:hover {
  opacity: 0.2;
}

#projects .center-block #gallery .tigitours {
  background: url(../images/tt.JPG) center center/cover;
}

#projects .center-block #gallery .tigitours:hover {
  opacity: 0.2;
}

#projects .center-block .portf {
  background: url(../images/pt.JPG) center center/cover;
}

#projects .center-block .portf:hover {
  opacity: 0.2;
}

#projects .center-block .soon {
  background: #444649;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .center-block .soon h2 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 2.5px;
}

#contact {
  background-color: #2c2e3f;
  width: 100%;
  height: 750px;
}

#contact h1 {
  color: #444649;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  padding: 70px 0px;
  color: #fff;
}

#contact p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #0ebec2;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}

#contact form {
  margin: 40px auto 0 auto;
  width: 40%;
}

#contact input[type='text'],
#contact input[type='email'],
#contact textarea {
  background: #1e242c;
  font-family: 'Raleway', sans-serif;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  display: block;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

#contact textarea {
  margin-bottom: 5px;
  min-height: 150px;
}

#contact .button {
  background: transparent;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  float: right;
  font-size: 22px;
  margin: 5px auto;
  outline: 0;
  padding: 15px 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 2px solid #fff;
}

#contact .button:hover {
  background: #0ebec2;
  border-color: #0ebec2;
}

footer {
  width: 100%;
  background-color: #222431;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer i {
  margin: 20px 0px;
  font-size: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer i:hover {
  color: #1969ff;
}

footer p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  font-size: 18px;
  font-weight: 600;
}

footer p span {
  color: #1969ff;
}

footer #social i {
  margin-right: 15px;
}

footer #links i {
  margin-left: 15px;
}
/*# sourceMappingURL=style.css.map */