*{
    margin: 0px auto;
    color: #fff;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&family=Raleway:wght@200&display=swap');

@mixin h {
    color: #444649;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  padding: 70px 0px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    width: 100%;
    background-color: #2c2e3f;
    height: 975px;
    #heading{
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        font-size: 35px;
        letter-spacing: 3.5px;
        font-weight: 550;
        h1{
            line-height: 80px;
            .hname{
            color: #1969ff;
            }
        }
        .button {
            letter-spacing: 2px;
            margin-top: 50px;
            border: 2px solid #fff;
            box-sizing: inherit;
            cursor: pointer;
            display: inline-block;
            font-size: 40px;
            padding: 10px 30px;
            transition: all 0.5s;
            &:hover {
              background-color: #0ebec2;
              border-color: #0ebec2;
            }
        }
        .line{
            width: 40%;
            border-bottom: 1px solid #fff;
            margin-bottom: 10%;
        }
    }
    nav{
        width: 100%;
        background-color: #222431;
        position: fixed;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        z-index: 999;
        ul{
            display: flex;
            margin: 10px 15%;
            font-size: 18px;
            letter-spacing: 1px;
            li{
                a{  
                    transition:  all 0.5s;
                    &:hover {
                        color: #1969ff;
                    }
                }
            }
        }        
    }    
}
#about{
    width: 100%;
    display: flex;
    h1{
        @include h
    }
    #me{
        display: flex;
        flex-direction: column;
        #mypic{
            img{
            width: 400px;
            height: 400px;
            border-radius: 225px;
            margin-bottom: 40px;
        }
        }
        p{
            color: #444649;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
            font-size: 22px;
            text-align: center;
            margin-bottom: 70px;
            span{
                a{
                color: #1969ff;
                }
            }
        }
    }
    #skills{
        margin-bottom: 180px;
        .bars {
        margin-bottom: 15px;
      }

      .info {
        margin-bottom: 5px; 
        display: flex;
        justify-content: space-between;

    
      }

      span {
        font-weight: 800;
        font-size: 20px;
        color: #444649;
        font-family: 'Josefin Sans', sans-serif;
        margin: 0px;
      }

      .line {
        height: 5px;
        width: 100%;
        background: lightgrey;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          left: 0;
          top: 0;
          background: #0ebec2;
        }
      }
    }

    .html::before {
        width: 90%;
      }
    
      .css::before {
        width: 90%;
      }
    
      .C::before {
        width: 60%;
      }
    
      .sql::before {
        width: 50%;
      }
    
      .photoshop::before {
        width: 70%;
      }
    
}
#projects{
    background: #f5f5f5;
    .center-block{
        width: 70%;
        h1{
            @include h
        }
        p{
        text-align: center;
        font-family: 'Raleway', sans-serif;
        color: #444649;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 700;
        margin-bottom: 50px;
        }
        #gallery{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 120px;
            .block{
                width: 500px;
                height: 300px;             
                margin-bottom: 100px; 
                opacity: 1;
                transition: opacity 0.5s;
                &:hover{
                    opacity: 0.2;
                    }
                    
            }
            .tigitours{
                background: url(../images/tt.JPG) center center/cover;
                &:hover{
                opacity: 0.2;
                }
                }

            }
            .portf{
                background: url(../images/pt.JPG) center center/cover;
                &:hover{
                    opacity: 0.2;
                    }
                    }
            .soon{
                background: #444649;
                display: flex;
                align-items: center;
                h2{
                    font-family: 'Raleway', sans-serif;
                    text-transform: uppercase;
                    font-size: 50px;
                    letter-spacing: 2.5px;
                }

            }
            
            }
        }

#contact{
    background-color: #2c2e3f;
    width: 100%;
    height: 750px;
    h1{
        @include h;
        color: #fff
    }
    p{
        text-align: center;
        font-family: 'Raleway', sans-serif;
        color: #0ebec2;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 500;
    }
    form {
        margin: 40px auto 0 auto;
        width: 40%;
      }
  
      input[type='text'],
      input[type='email'],
      textarea {
        background: #1e242c;
        font-family: 'Raleway', sans-serif;
        border: 0;
        box-sizing: border-box;
        color: #fff;
        display: block;
        letter-spacing: 1px;
        font-size: 18px;
        margin-bottom: 3px;
        outline: none;
        padding: 10px 15px;
        width: 100%;
      }
  
      textarea {
        margin-bottom: 5px;
        min-height: 150px;
      }
  
      .button {
        background: transparent;
        font-family: 'Josefin Sans', sans-serif;
        color: #fff;
        float: right;
        font-size: 22px;
        margin: 5px auto;
        outline: 0;
        padding: 15px 30px;
        cursor: pointer;
        transition: all 0.5s;
        border: 2px solid #fff;
        &:hover {
          background: #0ebec2;
          border-color: #0ebec2;
        }
    }
   
}
footer{
    width: 100%;
    background-color: #222431;
    display: flex;
    align-items: center;
    i{
        margin: 20px 0px;
        font-size: 25px;
        transition:  all 0.5s;
        &:hover {
            color: #1969ff;
        }
    }
    p{
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1.5px;
        font-size: 18px;
        font-weight: 600;
        span{
            color: #1969ff;
        }
    }
    #social{
        i{
            margin-right: 15px;
        }
    }
    #links{
        i{
            margin-left: 15px;
        }
    }

}

